<!DOCTYPE HTML>
<!--
	Strata by HTML5 UP
	html5up.net | @ajlkn
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html>
<head>
	<title>Kowshik Sundararajan</title>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<!--[if lte IE 8]><script src="assets/js/ie/html5shiv.js"></script><![endif]-->
	<link rel="stylesheet" href="assets/css/main.css" />
	<!--[if lte IE 8]><link rel="stylesheet" href="assets/css/ie8.css" /><![endif]-->
	<script src='https://www.google.com/recaptcha/api.js'></script>
</head>
<body id="top">

	<!-- Header -->
	<header id="header">
		<div class="inner">
			<a href="#" class="image avatar"><img src="images/avatar.jpg" alt="" /></a>
			<h1><strong>Kowshik Sundararajan</strong><br />
				Developer - Educator - Animal Rights Activist</h1>
			</div>
		</header>

		<!-- Main -->
		<div id="main">

			<!-- One -->
			<section id="one">
				<header class="major">
					<h2>A fourth year computer science undergraduate in search for the next challenging adventure.</h2>
				</header>
				<p>Graduating in the summer of 2018, I'm looking for jobs in the tech industry. I consider myself proficient in full-stack development, moderately skilled in devops and keen in security engineering. An avid animal lover, I'm often looking to hit the newest vegan joint in town or volunteer at animal shelters.</p>
<!-- 						<ul class="actions">
							<li><a href="#" class="button">Learn More</a></li>
						</ul> -->
					</section>

					<!-- Two -->
					<section id="two">
						<h2>Work Experience</h2>
						<div class="row">
							<article class="6u 12u$(xsmall) work-item">
								<a href="images/fulls/01.jpg" class="image fit thumb"><img src="images/thumbs/01.jpg" alt="" /></a>
								<h3>Authentic8</h3>
								<p>Software Engineering Intern</p>
							</article>
							<article class="6u$ 12u$(xsmall) work-item">
								<a href="images/fulls/02.jpg" class="image fit thumb"><img src="images/thumbs/02.jpg" alt="" /></a>
								<h3>First Code Academy</h3>
								<p>STEM Course Instructor Intern</p>
							</article>
							<article class="6u 12u$(xsmall) work-item">
								<a href="images/fulls/03.jpg" class="image fit thumb"><img src="images/thumbs/03.jpg" alt="" /></a>
								<h3>Dexecure</h3>
								<p>Software Developer Intern</p>
							</article>
							<article class="6u$ 12u$(xsmall) work-item">
								<a href="images/fulls/04.jpg" class="image fit thumb"><img src="images/thumbs/04.jpg" alt="" /></a>
								<h3>Resident Assistant</h3>
								<p>Prince George's Park and Ridge View Residences</p>
							</article>
							<article class="6u 12u$(xsmall) work-item">
								<a href="images/fulls/05.jpg" class="image fit thumb"><img src="images/thumbs/05.jpg" alt="" /></a>
								<h3>Children's Lovecastles Trust</h3>
								<p>Subject Matters Expert</p>
							</article>
							<article class="6u$ 12u$(xsmall) work-item">
								<a href="images/fulls/06.jpg" class="image fit thumb"><img src="images/thumbs/06.jpg" alt="" /></a>
								<h3>Risus ornare lacinia</h3>
								<p>Lorem ipsum dolor sit amet nisl sed nullam feugiat.</p>
							</article>
						</div>

						<h2 style="border-top:solid 2px #efefef; margin-top: 2em; padding-top: 2em;">Education</h2>
						<div class="row">
							<article class="6u 12u$(xsmall) work-item">
								<a href="images/fulls/01.jpg" class="image fit thumb"><img src="images/thumbs/01.jpg" alt="" /></a>
								<h3>National University of Singapore</h3>
								<p>Bachelor of Computer Science</p>
							</article>
							<article class="6u$ 12u$(xsmall) work-item">
								<a href="images/fulls/02.jpg" class="image fit thumb"><img src="images/thumbs/02.jpg" alt="" /></a>
								<h3>Stanford University</h3>
								<p>--</p>
							</article>
							<article class="6u 12u$(xsmall) work-item">
								<a href="images/fulls/03.jpg" class="image fit thumb"><img src="images/thumbs/03.jpg" alt="" /></a>
								<h3>NUS Overseas College</h3>
								<p>NOC Programme in Silicon Valley</p>
							</article>
						</div>
						<ul class="actions">
							<li><a href="https://www.linkedin.com/in/kowshik-sundararajan/" target="_blank" class="button">Full Portfolio</a></li>
						</ul>
					</section>

					<!-- Three -->
					<section id="three">
						<h2>Get In Touch</h2>
						<p>If you'd like to know more about me, what I can offer or simply grab a coffee, drop a message with your name and email and I'll be in touch with you as soon as possible.</p>
						<div class="row">
							<div class="12u$ 12u$(small)">
								<ul class="labeled-icons">
									<div class="row" style="margin: 0;">
									<li class="4u">
											<h3 class="icon fa-home"><span class="label">Address</span></h3>
											Singapore
										</li>
										<li class="4u">
											<h3 class="icon fa-mobile"><span class="label">Phone</span></h3>
											+65 8336 66419
										</li>
										<li class="4u">
											<h3 class="icon fa-envelope-o"><span class="label">Email</span></h3>
											<a href="#">kowshik.sundararajan@gmail.com</a>
										</li>
									</div>
								</ul>
							</div>
						</div>
					</section>
			</div>

			<!-- Footer -->
			<footer id="footer">
				<div class="inner">
					<ul class="icons">
						<li><a href="https://www.linkedin.com/in/kowshik-sundararajan/" target="_blank" class="icon fa-linkedin-square fa-lg"><span class="label">LinkedIn</span></a></li>
						<li><a href="https://github.com/kowshik-sundararajan" target="_blank" class="icon fa-github fa-lg"><span class="label">Github</span></a></li>
						<!-- 						<li><a href="#" class="icon fa-envelope-o fa-lg""><span class="label">Email</span></a></li> -->
						<li><a href="https://www.facebook.com/activistkow" target="_blank" class="icon fa-facebook-square fa-lg"><span class="label">Facebook</span></a></li>
						<li><a href="https://twitter.com/therowdykowdy" target="_blank" class="icon fa-twitter fa-lg"><span class="label">Twitter</span></a></li>
					</ul>
					<ul class="copyright">
						<li>&copy; Kowshik Sundararajan</li><li>Design: <a href="http://html5up.net">HTML5 UP</a></li>
					</ul>
				</div>
			</footer>

			<!-- Scripts -->
			<script src="assets/js/jquery.min.js"></script>
			<script src="assets/js/jquery.poptrox.min.js"></script>
			<script src="assets/js/skel.min.js"></script>
			<script src="assets/js/util.js"></script>
			<!--[if lte IE 8]><script src="assets/js/ie/respond.min.js"></script><![endif]-->
			<script src="assets/js/main.js"></script>
<!-- 			<script src="assets/js/custom.js"></script> -->
		</body>
		</html>
