<!DOCTYPE HTML>
<!--
	Strata by HTML5 UP
	html5up.net | @ajlkn
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html>
<head>
	<title>Kowshik Sundararajan</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<meta name="description" content="I am a final year Computer Science undergraduate specializing in security and experienced in developing full-stack web applications.<br>My passions include entrepreneurship, education technology, animal rights activism and football." />

	<!-- Twitter Card data -->
	<meta name="twitter:card" content="I am a final year Computer Science undergraduate specializing in security and experienced in developing full-stack web applications.<br>My passions include entrepreneurship, education technology, animal rights activism and football." />
	<meta name="twitter:site" content="@therowdykowdy" />
	<meta name="twitter:title" content="Kowshik Sundararajan" />
	<meta name="twitter:description" content="I am a final year Computer Science undergraduate specializing in security and experienced in developing full-stack web applications.<br>My passions include entrepreneurship, education technology, animal rights activism and football." />
	<meta name="twitter:creator" content="@therowdykowdy" />
	<meta name="twitter:image" content="" />

	<!-- Open Graph data -->
	<meta property="og:title" content="Kowshik Sundararajan" />
	<meta property="og:type" content="article" />
	<meta property="og:url" content="https://www.kowshiksundararajan.com" />
	<meta property="og:image" content="http://example.com/image.jpg" />
	<meta property="og:description" content="I am a final year Computer Science undergraduate specializing in security and experienced in developing full-stack web applications.<br>My passions include entrepreneurship, education technology, animal rights activism and football." />
	<meta property="og:site_name" content="Kowshik Sundararajan" />

	<!--[if lte IE 8]><script src="assets/js/ie/html5shiv.js"></script><![endif]-->
	<link rel="stylesheet" href="assets/css/main.css" />
	<!--[if lte IE 8]><link rel="stylesheet" href="assets/css/ie8.css" /><![endif]-->
</head>
<body id="top">

	<!-- Header -->
	<header id="header">
		<div class="inner">
			<a href="#" class="image avatar"><img src="images/favicon.ico" alt="" /></a>
			<h1><strong>Kowshik Sundararajan</strong></h1>
			<h1>Developer &amp; Animal Rights Activist</h1>
		</div>
	</header>
	<!-- Main -->
	<div id="main">

		<!-- One -->
		<section id="one">
			<header class="major">
			</header>
			<p>I am a final year Computer Science undergraduate specializing in security and experienced in developing <br>full-stack web applications. I consider myself an enthusiastic team player dedicated to efficiently solving challenges and possessing outstanding communication skills.<br><br>
			My passions include entrepreneurship, education technology, animal rights activism and football.</p>
		</section>

		<!-- Two -->
		<section id="two">
			<h2><span>Work Experience</span></h2>
			<div class="row mobile-items">
				<article class="6u 12u$(xsmall) work-item">
					<a href="https://www.authentic8.com/" target="_blank" class="image fit thumb"><img src="images/authentic8.jpg" alt="Authentic8, Inc." /></a>
					<h3>Software Engineering Intern</h3>
					<p>Aug 2016 - Jul 2017</p>
				</article>
				<article class="6u$ 12u$(xsmall) work-item">
					<a href="https://www.directactioneverywhere.com/" target="_blank" class="image fit thumb"><img src="images/dxe.jpg" alt="Direct Action Everywhere" /></a>
					<h3>Freelance Software Developer</h3>
					<p>Nov 2016 - Jul 2017</p>
				</article>
				<article class="6u 12u$(xsmall) work-item">
					<a href="https://sg.firstcodeacademy.com/en/about" target="_blank" class="image fit thumb"><img src="images/fca.jpg" alt="First Code Academy" /></a>
					<h3>STEM Course Instructor Intern</h3>
					<p>May 2016 - Jul 2016</p>
				</article>
				<article class="6u$ 12u$(xsmall) work-item">
					<a href="https://dexecure.com/" target="_blank" class="image fit thumb"><img src="images/dexecure.jpg" alt="Dexecure" /></a>
					<h3>Software Developer Intern</h3>
					<p>May 2016 - Jun 2016</p>
				</article>
				<article class="6u 12u$(xsmall) work-item">
					<a href="http://www.nus.edu.sg/" target="_blank" class="image fit thumb"><img src="images/nus.jpg" alt="National University of Singapore" /></a>
					<h3>Resident Assistant</h3>
					<p>Jan 2016 - May 2016<br> Aug 2017 - Present</p>
				</article>
				<article class="6u$ 12u$(xsmall) work-item">
					<a href="http://www.cltindia.org/" target="_blank" class="image fit thumb"><img src="images/clt.jpg" alt="Children's Lovecastles Trust" /></a>
					<h3>Subject Matters Expert</h3>
					<p>Jun 2015 - Jul 2015</p>
				</article>
			</div>

			<h2 id="education-header">Education</h2>
			<div class="row mobile-items">
				<article class="6u 12u$(xsmall) work-item">
					<a class="image fit thumb"><img src="images/nus.jpg" alt="National University of Singapore" /></a>
					<h3>Bachelor of Computing, Computer Science</h3>
					<p>Aug 2014 - May 2018</p>
				</article>
				<article class="6u$ 12u$(xsmall) work-item">
					<a class="image fit thumb"><img src="images/noc.jpg" alt="NUS Overseas College" /></a>
					<h3>NOC Silicon Valley, Batch 30</h3>
					<p>Aug 2016 - Jul 2017</p>
				</article>
				<article class="6u 12u$(xsmall) work-item">
					<a class="image fit thumb"><img src="images/stanford.jpg" alt="Stanford University" /></a>
					<h3>Management Science &amp; Technology</h3>
					<p>Aug 2016 - Jul 2017</p>
				</article>

			</div>
			<ul class="actions">
				<li><a href="resume" target="_blank" class="button">Resume</a></li>
			</ul>
		</section>

		<!-- Three -->
		<section id="three">
			<h2>Get In Touch</h2>
			<p>If you'd like to know more about me, what I can offer or simply grab a coffee, shoot me an email and I'll be in touch with you as soon as possible.</p>
			<div class="row">
				<div class="12u$ 12u$(small)">
					<ul class="labeled-icons">
						<div class="row" id="contact-row" >
							<li class="4u 12u$(small)">
								<h3 class="icon fa-map-marker"><span class="label">Address</span></h3>
								Singapore
							</li>
							<li class="4u 12u$(small)">
								<h3 class="icon fa-mobile"><span class="label">Phone</span></h3>
								+65 8336 66419
							</li>
							<li class="4u 12u$(small)">
								<h3 class="icon fa-envelope-o"><span class="label">Email</span></h3>
								<a href="mailto:kowshik.sundararajan@gmail.com">kowshik.sundararajan@gmail.com</a>
							</li>
						</div>
					</ul>
				</div>
			</div>
		</section>
	</div>

	<!-- Footer -->
	<footer id="footer">
		<div class="inner">
			<ul class="icons">
				<li><a href="https://www.linkedin.com/in/kowshik-sundararajan/" target="_blank" class="icon fa-linkedin-square fa-lg"><span class="label">LinkedIn</span></a></li>
				<li><a href="https://github.com/kowshik-sundararajan" target="_blank" class="icon fa-github fa-lg"><span class="label">Github</span></a></li>
				<li><a href="https://www.messenger.com/t/activistkow" target="_blank" class="icon fa-facebook-square fa-lg"><span class="label">Messenger</span></a></li>
				<li><a href="https://twitter.com/therowdykowdy" target="_blank" class="icon fa-twitter fa-lg"><span class="label">Twitter</span></a></li>
			</ul>
			<ul class="copyright">
				<li>&copy; Kowshik Sundararajan 2017</li><li>Design: <a href="http://html5up.net">HTML5 UP</a></li>
			</ul>
		</div>
	</footer>

	<!-- Scripts -->
	<script src="https://code.jquery.com/jquery-3.2.1.js" integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE=" crossorigin="anonymous"></script>
	<script src="assets/js/jquery.poptrox.min.js"></script>
	<script src="assets/js/skel.min.js"></script>
	<script src="assets/js/util.js"></script>
	<!--[if lte IE 8]><script src="assets/js/ie/respond.min.js"></script><![endif]-->
	<script src="assets/js/main.js"></script>
</body>
</html>
